
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion

*.iml

## Directory-based project format:
.idea/

### personal dev.yml
donotadd.yml
docker-compose-private.yml

/monitors.json
/events.json
/history.json

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
